body {
  --accent-color: #4527a0;
  --light-accent-shade: rgb(223, 255, 239);
  --text-color: 17, 17, 17;
  --foreground-color: 255, 255, 255;
  --font-family: "Roboto", sans-serif;
  --error-color: #e53935;

  /* background-color: rgb(243, 244, 246); */
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

.main_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.form-group {
  max-width: 800px;
  width: 90%;
  padding: 1.5em;
}

sm-button {
  margin-top: 1rem;
}

.scroll {
  overflow-x: scroll;
}

.panels {
  margin-top: 2em;
}

.demoArea {
  max-width: 800px;
  width: 90%;
  padding: 0 1em;
}

.demo-inner-blocks {
  width: 100%;
}
