body {
  --accent-color: #4527a0;
  --light-accent-shade: rgb(223, 255, 239);
  --text-color: 17, 17, 17;
  --foreground-color: 255, 255, 255;
  --font-family: "Roboto", sans-serif;
  --error-color: #e53935;

  /* background-color: rgb(243, 244, 246); */
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

.main_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.form-group {
  max-width: 900px;
  width: 90%;
  padding: 1.5em;
}

sm-button {
  margin-top: 1rem;
}

.scroll {
  overflow-x: scroll;
}

.panels {
  margin-top: 2em;
  width: 100%;
}

.demoArea {
  max-width: 900px;
  width: 90%;
  padding: 0 1em;
}

.demo-inner-blocks,
.descriptionBlocks {
  width: 100%;
}

.keyValuePairs {
  margin-top: 1em;
}

.pairs {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.object-inner-blocks {
  margin-right: 1em;
}

.plus {
  font-size: 2rem;
  background-color: rgba(var(--text-color), 0.06);
  color: #696969;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
