body {
  --accent-color: #4527a0;
  --light-accent-shade: rgb(223, 255, 239);
  --text-color: 17, 17, 17;
  --foreground-color: 255, 255, 255;
  --font-family: "Roboto", sans-serif;
  --error-color: #e53935;
}

.main_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  max-width: 600px;
  width: 90%;
}

sm-button {
  margin-top: 1rem;
}

#output {
  width: 100%;
}
